body
{
    margin-left: 20px;
    background-color: #E1C8E3;
}

#result 
{
    background-color: white;
}

#lookup
{
    font-family: sans-serif;
    font-size: 12px;
    border-radius: 4px;
    padding: 5px 5px 5px 5px;
}

#lookup:hover {
    border: 2px solid #FEFEA1;
    background-color: #C1C8DC; 
    color: white;
}